@media screen and (max-width: 1104px) {
    /* -------------------- index.html --------------------*/
    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .section-title {
        margin-top: 20px;
    }
    .oita-tour .section-content,
    .oita-festival .section-content  {
        flex-direction: column;
    }
    .oita-tour .section-content li,
    .oita-festival .section-content li {
        width: 350px;
        margin-bottom: 50px;
    } 
    .oita-tour .section-content li:first-child,
    .oita-festival .section-content li:first-child {
        margin-top: 20px;
    } 
    .oita-tour .section-content li .thumb,
    .oita-festival .section-content li .thumb {
        width: 350px;
        height: 200px;
        margin-bottom: 25px;
    }
    .oita-tour .tour-category dt,
    .oita-festival .festival-category dt {
        top: 125px;
    }
}

@media screen and (max-width: 912px) {
    /* -------------------- header.html --------------------*/
    /* search-area */
    .header-main-bar .search-area form {
        width: 250px;
    }
    .header-main-bar .search-area .inn .search-input {
        width: 250px;
        font-size: 14px;
    }
    .header-main-bar .search-area .inn .btn-search {
        width: 25px;
        height: 25px;
        font-size: 15px;
        line-height: 20px;
    }
    .header-main-bar .search-area .inn .btn-search i {
        font-size: 15px;
    }
    /* 연관검색창 */
    .header-main-bar .search-area.active .search-suggestion {
        width: 250px;
        font-size: 14px;
    }

     /* -------------------- header.html --------------------*/
    /* cart */
    .header-main-bar .cart a span {
        display: none;
    }
    /* my-page */
    .header-main-bar .my-page a span {
        display: none;
    }
}

@media screen and (max-width: 836px) {
    /* -------------------- index.html --------------------*/
    /* slide content */
    .carousel .slide-area .slide .content .title {
        font-size: 16px;
    }
    .carousel .slide-area .slide .content .txt {
        font-size: 28px;
    }
    .carousel .slide-area .slide .content .btn-more {
        padding: 5px 15px;
        font-size: 15px;
    }

    /* indicator */
    .carousel .indicator-area .indicator {
        width: 8px;
        height: 8px;
    }

    /* btn-area */
    .carousel .btn-area .btn {
        font-size: 30px;
    }

    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .oita-tour .tour-category dt.category01 {
        left: 41%;
        transform: translateX(-41%);
    }
    .oita-tour .tour-category dt.category02 {
        right: 41%;
        transform: translateX(41%);
    }
    .oita-festival .festival-category dt.category01 {
        left: 38%;
        transform: translateX(-38%);
    
    }
    .oita-festival .festival-category dt.category02 {
        right: 38%;
        transform: translateX(38%);
    }

    /* 오이타 쇼핑 oita-shopping */
    .oita-shopping .shopping-content .title {
        font-size: 16px;
    }
    .oita-shopping .shopping-content .txt {
        color: #fff;
        font-size: 28px;
    }
    .oita-shopping .shopping-content .btn-more {
        padding: 5px 15px;
        font-size: 15px;
    }

    /* -------------------- contact.html --------------------*/
    .contact .contact-list .contact-item {
        width: 500px;
        padding: 15px;
    }
    .contact .contact-list .contact-item .content::before {
        width: 460px;
        top: 40px;
    }
    .contact .contact-list .contact-item .content .title {
        font-size: 16px;
    }
    .contact .contact-list .contact-item .content .btn i {
        font-size: 22px;
    }
    .contact .contact-list .contact-item .txt.active {
        margin-top: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 760px) {
    /* -------------------- index.html --------------------*/
    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .oita-tour .section-content li,
    .oita-festival .section-content li {
        width: 280px;
        margin-bottom: 50px;
    } 
    .oita-tour .section-content li .thumb,
    .oita-festival .section-content li .thumb {
        width: 280;
        height: 180px;
        margin-bottom: 25px;
    }
    .section-title span {
        font-size: 28px;
    }
    .section-title img {
        width: 28px;
    }
        /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .oita-tour .tour-category dt.category01 {
        left: 38%;
        transform: translateX(-38%);
    }
    .oita-tour .tour-category dt.category02 {
        right: 38%;
        transform: translateX(38%);
    }
    .oita-festival .festival-category dt.category01 {
        left: 35%;
        transform: translateX(-35%);
    }
    .oita-festival .festival-category dt.category02 {
        right: 35%;
        transform: translateX(35%);
    }
}


@media screen and (max-width: 630px) {
    /* -------------------- header.html --------------------*/
    /* top-bar */
    .login-section a {
        font-size: 14px;
    }

    /* header-main-bar */
    .header-main-bar .logo img {
        width: 100px;
        height: 40px;
    }

    /* btn-menu */
    .header-main-bar .nav .btn-menu {
        width: 30px;
        height: 30px;
        font-size: 22px;
        margin-left: 10px;
    }

    /* cart */
    .header-main-bar .cart a {
        margin-right: 10px;
    }
    .header-main-bar .cart a i {
        font-size: 16px;
    }

    /* my-page */
    .header-main-bar .my-page a {
        margin-left: 0px;
    }
    .header-main-bar .my-page a i {
        font-size: 16px;
    }

    /* search-area */
    .header-main-bar .search-area form {
        width: 180px;
        height: 35px;
    }
    .header-main-bar .search-area .inn .search-input {
        width: 180px;
        height: 30px;
        font-size: 12px;
    }
    .header-main-bar .search-area .inn .btn-search {
        width: 18px;
        height: 18px;
        font-size: 10px;
        line-height: 14px;
    }
    .header-main-bar .search-area .inn .btn-search i {
        font-size: 15px;
    }

    /* 연관검색창 */
    .header-main-bar .search-area.active .search-suggestion {
        width: 180px;
        font-size: 12px;
    }
}