@media screen and (max-width: 1166px) {
    /* -------------------- youtube.html --------------------*/
    /* 유튜브 api */
    .youtube .content-list .video-item {
        width: 450px;
    }
    .youtube .content-list .video-item .title {
        font-size: 18px;
    }
    .youtube .content-list .video-item .thumb {
        width: 450px;
        height: 240px;
    }
    .youtube .content-list .video-item .thumb::before {
        width: 80px;
        height: 80px;
    }

    /* -------------------- speciality.html --------------------*/
    /* -------------------- tourist.html --------------------*/
    /* -------------------- oita-maturi.html --------------------*/
    .speciality .section-content li,
    .tourist .section-content li,
    .oita-maturi .section-content li {
        width: 750px;
        height: 245px;
        margin-bottom: 70px;
    }
    .speciality .section-content li .thumb,
    .tourist .section-content li .thumb,
    .oita-maturi .section-content li .thumb {
        width: 380px;
        height: 245px;
    }
    .speciality .section-content li .content,
    .tourist .section-content li .content,
    .oita-maturi .section-content li .content {
        width: 300px;
    }
}
@media screen and (max-width: 1104px) {
    /* -------------------- index.html --------------------*/
    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .section-title {
        margin-top: 20px;
    }
    .oita-tour .section-content,
    .oita-festival .section-content  {
        flex-direction: column;
    }
    .oita-tour .section-content li,
    .oita-festival .section-content li {
        width: 350px;
        margin-bottom: 50px;
    } 
    .oita-tour .section-content li:first-child,
    .oita-festival .section-content li:first-child {
        margin-top: 20px;
    } 
    .oita-tour .section-content li .thumb,
    .oita-festival .section-content li .thumb {
        width: 350px;
        height: 200px;
        margin-bottom: 25px;
    }
    .oita-tour .tour-category dt,
    .oita-festival .festival-category dt {
        top: 125px;
    }

    /* -------------------- festival-product.html --------------------*/
    /* -------------------- oita-product.html --------------------*/
    .product-filter {
        max-width: 750px;
    }
    #product-list {
        width: 850px;
    }
    #product-list .product {
        width: 350px;
        height: 520px;
        margin: 0 25px 50px;
    }
    #product-list .product:nth-child(3),
    #product-list .product:nth-child(6) {
        margin-right: 25px;
    }
    #product-list .product .thumb {
        width: 350px;
        height: 300px;
    }

    /* -------------------- festival-detail.html --------------------*/
    /* -------------------- oita-detail.html --------------------*/
    .festival-detail .box,
    .oita-detail .box {
        width: 800px;
    }
    #product-detail .thumb,
    #product-detail .content {
        width: 400px;
    }
    #product-detail .content {
        margin-top: 20px;
    }
    .select-box {
        top: 220px;
    }
}

@media screen and (max-width: 1042px) {
    /* -------------------- youtube.html --------------------*/
    /* 유튜브 api */
    .youtube .content-list .video-item {
        width: 400px;
    }
    .youtube .content-list .video-item .title {
        font-size: 18px;
    }
    .youtube .content-list .video-item .thumb {
        width: 400px;
        height: 220px;
    }
    .youtube .content-list .video-item .thumb::before {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 940px) {
    /* -------------------- cart.html --------------------*/
    .cart-inn {
        margin-bottom: 0;
    }
    .cart-inn .title {
        font-size: 28px;
    }
    #cart-items .txt-none {
        font-size: 16px;
    }
    #cart-items .cart-item {
        width: 400px;
        height: 120px;
    }
    #cart-items .cart-item .thumb {
        width: 120px;
        margin-right: 20px;
    }

    /* cart product list */
    .item-details span  {
        font-size: 15px;
    }
    .item-details button {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }
    /* total */
    .cart-summary {
        width: 280px;
        height: 250px;
    }
    .cart-summary .summary-title {
        font-size: 18px;
    }
    .cart-summary .summary-value {
        font-size: 16px;
    }
    .cart-summary button {
        font-size: 14px;
        margin-top: 40px;
    }

    /* -------------------- wish-list.html --------------------*/
    .wish-list .title {
        font-size: 28px;
    }
    #empty-wishlist {
        font-size: 16px;
    }
}

@media screen and (max-width: 912px) {
    /* -------------------- header.html --------------------*/
    /* search-area */
    .header-main-bar .search-area form {
        width: 250px;
    }
    .header-main-bar .search-area .inn .search-input {
        width: 250px;
        font-size: 14px;
    }
    .header-main-bar .search-area .inn .btn-search {
        width: 25px;
        height: 25px;
        font-size: 15px;
        line-height: 20px;
    }
    .header-main-bar .search-area .inn .btn-search i {
        font-size: 15px;
    }
    /* 연관검색창 */
    .header-main-bar .search-area.active .search-suggestion {
        width: 250px;
        font-size: 14px;
    }

    /* -------------------- cart.html --------------------*/
    /* cart */
    .header-main-bar .cart a span {
        display: none;
    }
    /* my-page */
    .header-main-bar .my-page a span {
        display: none;
    }
    
    /* -------------------- youtube.html --------------------*/
    /* 유튜브 api */
    .youtube .content-list .video-item {
        width: 350px;
    }
    .youtube .content-list .video-item .title {
        font-size: 18px;
    }
    .youtube .content-list .video-item .thumb {
        width: 350px;
        height: 190px;
    }
    .youtube .content-list .video-item .thumb::before {
        width: 60px;
        height: 60px;
    }
    
    /* -------------------- festival-detail.html --------------------*/
    /* -------------------- oita-detail.html --------------------*/

    #product-detail {
        flex-direction: column;
    }
    .festival-detail .box,
    .oita-detail .box {
        width: 300px;
    }
    .festival-detail .box::before,
    .oita-detail .box::before {
        display: none;
    }
    #product-detail .thumb,
    #product-detail .content {
        width: 300px;
        padding: 20px;
    }
    #product-detail .content {
        margin-top: 0px;
        padding-top: 0;
        height: 280px;
    }
    #product-detail .content h4 {
        font-size: 20px;
    }
    #product-detail .content > span {
        font-size: 20px;
    }
    .select-box {
        top: 450px;
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 860px) {
    /* -------------------- festival-product.html --------------------*/
    /* -------------------- oita-product.html --------------------*/
    .product-filter {
        max-width: 300px;
    }
    #product-list {
        width: 350px;
    }
    #product-list .product {
        width: 300px;
        height: 470px;
        margin: 0 25px 50px;
    }
    #product-list .product:nth-child(3),
    #product-list .product:nth-child(6) {
        margin-right: 25px;
    }
    #product-list .product .thumb {
        width: 300px;
        height: 250px;
    }
}
@media screen and (max-width: 836px) {
    /* -------------------- index.html --------------------*/
    /* slide content */
    .carousel .slide-area .slide .content .title {
        font-size: 16px;
    }
    .carousel .slide-area .slide .content .txt {
        font-size: 28px;
    }
    .carousel .slide-area .slide .content .btn-more {
        padding: 5px 15px;
        font-size: 15px;
    }

    /* indicator */
    .carousel .indicator-area .indicator {
        width: 8px;
        height: 8px;
    }

    /* btn-area */
    .carousel .btn-area .btn {
        font-size: 30px;
    }

    .section-title span,
    .festival-product .section-title span,
    .oita-product .section-title span,
    .festival-detail .section-title span,
    .oita-detail .section-title span {
        font-size: 28px;
    }
    .oita-tour .section-title img,
    .oita-festival .section-title img,
    .oita-shopping .section-title img 
    .contact .section-title img,
    .festival-product .section-title img,
    .oita-product .section-title img,
    .festival-detail .section-title img,
    .oita-detail .section-title img {
        width: 28px;
    }
    .weather .section-title img,
    .youtube .section-title img {
        width: 54px;
    }

    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .oita-tour .tour-category dt.category01 {
        left: 41%;
        transform: translateX(-41%);
    }
    .oita-tour .tour-category dt.category02 {
        right: 41%;
        transform: translateX(41%);
    }
    .oita-festival .festival-category dt.category01 {
        left: 38%;
        transform: translateX(-38%);
    
    }
    .oita-festival .festival-category dt.category02 {
        right: 38%;
        transform: translateX(38%);
    }

    /* 오이타 쇼핑 oita-shopping */
    .oita-shopping .shopping-content .title {
        font-size: 16px;
    }
    .oita-shopping .shopping-content .txt {
        font-size: 28px;
    }
    .oita-shopping .shopping-content .btn-more {
        padding: 5px 15px;
        font-size: 15px;
    }

    /* -------------------- contact.html --------------------*/
    .contact .contact-list .contact-item {
        width: 500px;
        padding: 15px;
    }
    .contact .contact-list .contact-item .content::before {
        width: 460px;
        top: 40px;
    }
    .contact .contact-list .contact-item .content .title {
        font-size: 16px;
    }
    .contact .contact-list .contact-item .content .btn i {
        font-size: 22px;
    }
    .contact .contact-list .contact-item .txt.active {
        margin-top: 10px;
        font-size: 14px;
    }

    /* -------------------- weather.html --------------------*/
    .weather .weather-content > .content {
        width: 280px;
        height: 180px;
    }
    .weather .weather-content > .content .section-title {
        font-size: 16px;
        margin: 20px auto  0;
    }
    .weather .weather-content > .content .section-title span {
        margin-left: 70px;
        font-size: 24px;
    }
    .weather .weather-content > .content .section-title::before {
        width: 280px;
    }
    .weather .weather-content > .content .content-area {
        margin-top: 40px;
    }
    .weather .weather-content > .content .content-area .main-content .txt02 {margin-left: 10px;}
    .weather .weather-content > .content .content-area .sub-content  {
        font-size: 14px;
    }

    /* -------------------- wish-list.html --------------------*/
    .wish-list {
        margin-bottom: 0;
    }
    .wish-list #wishlist-container .product {
        margin-top: -50px;
        margin-bottom: 100px;
    }
    .wish-list #wishlist-container .product {
        height: 200px;
    }
    .wish-list #wishlist-container .product .thumb {
        width: 180px;
    }

    /* -------------------- speciality.html --------------------*/
    /* -------------------- tourist.html --------------------*/
    /* -------------------- oita-maturi.html --------------------*/
    .speciality .section-content li,
    .tourist .section-content li,
    .oita-maturi .section-content li {
        flex-direction: column;
        width: 300px;
        height: auto;
        margin: 0 auto 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        overflow: hidden;
        background-color: #fff;
    }
    .speciality .section-content li:nth-child(2),
    .tourist .section-content li:nth-child(2),
    .oita-maturi .section-content li:nth-child(2),
    .oita-maturi .section-content li:nth-child(4) {
        flex-direction: column;
    }
    .speciality .section-content li .thumb,
    .tourist .section-content li .thumb,
    .oita-maturi .section-content li .thumb {
        width: 300px;
        height: 200px;
        border-radius: 5px 5px 0 0;
    }

    .speciality .section-content li .content,
    .tourist .section-content li .content,
    .oita-maturi .section-content li .content {
        width: 300px;
    }
}

@media screen and (max-width: 760px) {
    /* -------------------- index.html --------------------*/
    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .oita-tour .section-content li,
    .oita-festival .section-content li {
        width: 280px;
        margin-bottom: 50px;
    } 
    .oita-tour .section-content li .thumb,
    .oita-festival .section-content li .thumb {
        width: 280;
        height: 180px;
        margin-bottom: 25px;
    }

    /* 오이타 소식 tour-category */
    /* 오이타 축제 festival-category */
    .oita-tour .tour-category dt.category01 {
        left: 38%;
        transform: translateX(-38%);
    }
    .oita-tour .tour-category dt.category02 {
        right: 38%;
        transform: translateX(38%);
    }
    .oita-festival .festival-category dt.category01 {
        left: 35%;
        transform: translateX(-35%);
    }
    .oita-festival .festival-category dt.category02 {
        right: 35%;
        transform: translateX(35%);
    }
}

@media screen and (max-width: 760px) {
    /* -------------------- index.html --------------------*/
    /* scroll-top-btn */
    #scroll-top-btn {
        width: 45px;
        height: 45px;
    }

    /* -------------------- weather.html --------------------*/
    .weather .weather-content {
        flex-direction: column;
    }
    .weather .weather-content > .content.korea-weather-content {
        margin-bottom: 30px;
    }

    /* -------------------- footer.html --------------------*/
    .footer-inn {
        height: auto;
    }
    .footer-main-bar {
        flex-direction: column;
    }
    .footer-left {
        order: 2;
        margin-bottom: 30px;
    }
    .footer-right {
        order: 1;
    }
    .footer-right .sns {
        margin: 30px auto;
    }
    .footer-right .sns a img {
        width: 25px;
    }
}
@media screen and (max-width: 696px) {
    /* -------------------- cart.html --------------------*/
    /* cart product list */
    .item-details span  {
        font-size: 15px;
    }
    .item-details button {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }
    /* total */
    .cart-summary {
        width: 250px;
        height: 200px;
    }
    .cart-summary .summary-title {
        font-size: 16px;
    }
    .cart-summary .summary-value {
        font-size: 14px;
    }
    .cart-summary button {
        font-size: 14px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 630px) {
    /* -------------------- header.html --------------------*/
    /* top-bar */
    .login-section a {
        font-size: 14px;
    }

    /* header-main-bar */
    .header-main-bar .logo img {
        width: 100px;
        height: 40px;
    }

    /* btn-menu */
    .header-main-bar .nav .btn-menu {
        width: 30px;
        height: 30px;
        font-size: 22px;
        margin-left: 10px;
    }

    /* btn-menu > open */
    .header-main-bar .nav .menu {
        left: 140px;
        width: 250px;
        padding: 30px;
    }
    .header-main-bar .nav .menu >li .menu-title {
        font-size: 14px;
    }
    .header-main-bar .nav .menu >li ul li a {
        font-size: 14px;
    }

    /* cart */
    .header-main-bar .cart a {
        margin-right: 10px;
    }
    .header-main-bar .cart a i {
        font-size: 16px;
    }

    /* my-page */
    .header-main-bar .my-page a {
        margin-left: 0px;
    }
    .header-main-bar .my-page a i {
        font-size: 16px;
    }

    /* search-area */
    .header-main-bar .search-area form {
        width: 180px;
        height: 35px;
    }
    .header-main-bar .search-area .inn .search-input {
        width: 180px;
        height: 30px;
        font-size: 12px;
    }
    .header-main-bar .search-area .inn .btn-search {
        width: 18px;
        height: 18px;
        font-size: 10px;
        line-height: 14px;
    }
    .header-main-bar .search-area .inn .btn-search i {
        font-size: 15px;
    }

    /* 연관검색창 */
    .header-main-bar .search-area.active .search-suggestion {
        width: 180px;
        font-size: 12px;
    }

    /* -------------------- index.html --------------------*/
    /* slide content */
    .carousel .slide-area .slide .content {
        left: 70px;
    }
    .carousel .slide-area .slide .content .title {
        font-size: 14px;
    }
    .carousel .slide-area .slide .content .txt {
        font-size: 24px;
    }
    .carousel .slide-area .slide .content .btn-more {
        padding: 3px 10px;
        font-size: 14px;
    }

    /* 오이타 쇼핑 oita-shopping */
    .oita-shopping .shopping-content .title {
        font-size: 14px;
    }
    .oita-shopping .shopping-content .txt {
        font-size: 24px;
    }
    .oita-shopping .shopping-content .btn-more {
        padding: 3px 10px;
        font-size: 14px;
    }

    /* -------------------- cart.html --------------------*/
    #cart-items .txt-none {margin-bottom: 50px;}
    #cart-items  {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px !important;
    }
    #cart-items .cart-item {
        order: 2;
    }

    /* cart product list */
    .item-details span  {
        font-size: 14px;
    }
    .item-details button {
        width: 70px;
        height: 30px;
        font-size: 14px;
    }
    /* total */
    .cart-summary {
        position: relative;
        left: 0;
        width: 400px;
        height: 110px;
        padding: 20px;
        margin-left: 0;
        margin-bottom: 50px;
        order: 1;
    }
    .cart-summary button {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        padding: 8px 15px;
    }

    /* -------------------- wish-list.html --------------------*/

    .wish-list #wishlist-container .product {
        height: 120px;
    }
    .wish-list #wishlist-container .product .thumb {
        width: 120px;
    }
    .wish-list #wishlist-container .product .wishlist-detail h3 {
        font-size: 16px;
    }
    .wish-list #wishlist-container .product .btn-area button {
        width: 70px;
        font-size: 14px;
    }
}