.signup-area {
    position: relative;
    max-width: 1440px;
    margin: 150px auto 0px;
    padding: 15px 24px 100px;
}
.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title span {
    display: block;
    font-size: 40px;
    margin-bottom: 5px;
}
.section-title img {
    width: 120px;
}

.signup-box {
    position: relative;
    width: 450px;
    height: 500px;
    padding: 30px 50px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.signup-box p.title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
.signup-box .signup-form {
    width: 350px;
    margin: 20px auto 40px;
}
.signup-box .signup-form .email,
.signup-box .signup-form .password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.signup-box .signup-form .email span,
.signup-box .signup-form .password span  {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.5;
    margin-right: 15px;
}
.signup-box .signup-form .email input,
.signup-box .signup-form .password input {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    padding: 10px;
}
.signup-box input::placeholder {
    font-size: 14px;
}
.signup-box .signup-form #btn-signup {
    width: 350px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background-color: #7F5539;
    margin-top: 10px;
}
.signup-box .signup-form #btn-signup:hover {
    transition: all 0.3s;
    background-color: #000;
}

/* 구글 가입하기 */
.social-signup {
    width: 350px;
    margin: 20px auto 40px;
}
.social-signup .social-title {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.social-signup .social-title::before,
.social-signup .social-title::after {
    content: '';
    position: absolute;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #c4c4c4;
}
.social-signup .social-title::before {
    left: 0;
}
.social-signup .social-title::after {
    right: 0;
}
.social-signup #btn-google-signup {
    position: relative;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
}
.social-signup #btn-google-signup::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(../assets/image/icon/icon_google.png) 0 0 no-repeat;
    background-size: 100%;
}

/* 로그인 페이지로 이동 */
.signup-box #btn-login {
    position: absolute;
    left: 0;
    bottom: -70px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
}
.signup-box #btn-login:hover {
    color: #fff;
    background-color: #000;
    transition: all 0.3s;
}
.signup-box #btn-login i {
    display: inline-block;
    margin-right: 10px;
}


/* 가입 성공 팝업창 */
.popup-signup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.popup-signup .signup-inn {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}
.popup-signup .signup-inn .thumb {
    width: 320px;
    height: auto;
    margin-bottom: 50px;
}
.popup-signup .signup-inn .thumb img {
    width: 100%;
}
.popup-signup .signup-inn p.txt {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}