<!-- footer -->
<div class="footer-inn">
    <div class="footer-main-bar">
		<!-- footer-left -->
		<div class="footer-left">
			<!-- company-policy -->
			<div class="company-policy">
				<a href="#">기업정보</a>
				<span class="bar">|</span>
				<a href="#">이용약관</a>
				<span class="bar">|</span>
				<a href="#">개인정보처리방침</a>
			</div>
			<!-- /company-policy -->

			<!-- logo-area -->
			<div class="logo-area">
				<h1 class="logo">
					<a href="../index.html"><img src="../assets/image/logo_footer.png" alt="logo_footer" /></a>
				</h1>
				<p class="txt">등록번호: 000-00-00000</p>
			</div>
			<!-- /logo-area -->

			<!-- company-info -->
			<div class="company-info">
				<ul>
					<li class="address">
						<i class="fa-solid fa-location-dot"></i>
						<p class="txt">경기도 성남시 ㅇㅇㅇ ㅇㅇㅇㅇ ㅇㅇㅇㅇ빌딩 A동 1301호</p>
					</li>
					<li class="tel">
						<ul>
							<li class="phone">
								<i class="fa-solid fa-phone-volume"></i>
								<p class="txt">031-000-0000</p>
							</li>
							<li>
								<span class="bar">|</span>
							</li>
							<li class="fax">
								<i class="fa-solid fa-fax"></i>
								<p class="txt">031-000-0000</p>
							</li>
						</ul>
					</li>
					<li class="service">
						<i class="fa-solid fa-headset"></i>
						<p class="txt">오전 9:30 ~ 오후 18:30</p>
					</li>
					<li class="copyright">
						<ul>
							<li>
								<i class="fa-regular fa-copyright"></i>
								<p class="txt">Copyright 2023</p>
							</li>
							<li>
								<span class="bar">|</span>
							</li>
							<li>
								<p class="txt">Mong All rights reserved.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /company-info -->
		</div>
		<!-- /footer-left -->

		<!-- footer-right -->
		<div class="footer-right">
			<ul class="sns">
				<li>
					<a href="#" title="sns_gitHub">
						<span class="blind">sns_gitHub</span>
						<img src="../assets/image/sns_gitHub.png" alt="sns_gitHub" />
					</a>
				</li>
				<li>
					<a href="#" title="sns_facebook">
						<span class="blind">sns_facebook</span>
						<img src="../assets/image/sns_facebook.png" alt="sns_facebook" />
					</a>
				</li>
				<li>
					<a href="#" title="sns_twitter">
						<span class="blind">sns_twitter</span>
						<img src="../assets/image/sns_twitter.png" alt="sns_twitter" />
					</a>
				</li>
				<li>
					<a href="#" title="sns_instagram">
						<span class="blind">sns_instagram</span>
						<img src="../assets/image/sns_instagram.png" alt="sns_instagram" />
					</a>
				</li>
			</ul>
		</div>
		<!-- /footer-right -->
    </div>
</div>
<!-- /footer -->
  