<!-- header -->
<div class="header-inn">
	<!-- top-bar -->
	<div class="top-bar">
		<div class="login-section">
			<a href="#">로그인</a>
			<span>|</span>
			<a href="#">회원가입</a>
		</div>
	</div>
	<!-- top-bar -->

	<!-- header-main-bar -->
	<div class="header-main-bar">
		<!-- logo -->
		<h1 class="logo">
			<a href="../index.html"><img src="../assets/image/logo.png" alt="logo" /></a>
		</h1>
		<!-- /logo -->

		<!-- menu -->
		<nav class="nav">
			<button type="button" class="btn btn-menu">
				<strong class="blind">메뉴 오픈</strong>
				<span class="open">
					<i class="fa-solid fa-bars"></i>
				</span>
			</button>
			<ul class="menu">
				<li>
					<p class="menu-title">쇼핑</p>
					<ul>
						<li><a href="../pages/festival.html">마쯔리 추천템</a></li>
						<li><a href="../pages/oita.html">오이타 명물템</a></li>
					</ul>
					</li>
				<li>
					<p class="menu-title">오이타 소식</p>
					<ul>
						<li><a href="#">오이타 명물</a></li>
						<li><a href="#">오이타 명소</a></li>
					</ul>
				</li>
				<li>
					<p class="menu-title">오이타 마쯔리</p>
					<ul>
						<li><a href="#">마쯔리 일정 및 안내</a></li>
						<li><a href="#">마쯔리 신청서 작성</a></li>
					</ul>
				</li>
				<li>
					<p class="menu-title">오이타 여행</p>
					<ul>
						<li><a href="#">숙박</a></li>
						<li><a href="#">항공</a></li>
						<li><a href="#">해상</a></li>
					</ul>
				</li>
				<li>
					<p class="menu-title">문의사항</p>
					<ul>
						<li><a href="#">문의사항</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /menu -->

		<!-- search-area -->
		<div class="search-area">
			<div class="inn">
				<input
				type="search"
				class="search-input"
				id="search"
				name="search"
				title="검색어를 입력해 주세요."
				placeholder="검색어를 입력해 주세요."
				maxlength="255"
				autocomplete="off"
				data-atcmp-element=""
				/>
				<button type="button" class="btn btn-search">
					<strong class="blind">검색</strong>
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</div>
		<!-- /search -->

		<!-- cart -->
		<div class="cart">
			<a href="../pages/cart.html">
				<span>장바구니</span>
				<i class="fa-solid fa-cart-shopping"></i>
				<em id="cart-count">0</em>
			</a>
		</div>
		<!-- /cart -->

		<!-- myPage -->
		<div class="my-page">
			<a href="../pages/myPage.html">
				<span>마이페이지</span>
				<i class="fa-solid fa-user"></i>
			</a>
		</div>
		<!-- myPage -->
	</div>
	<!-- header-main-bar -->
</div>
<!-- /header -->